@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,700&display=swap');
:root{
  --light: #fffffc;
  --dark:#202c59 ;
  --grey:#4c5b5c ;
  --primary:#ff7f11 ;
  --alert:#ff1e2d ;
}
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  color: var(--dark);
}
body {
  margin: 0;
}

input,button{
  outline: none;
  border: none;
  background: none;
}